<h1 class="text-center mt-1">{{'orders' | translate}}</h1>
<div class="card mt-1 position-relative" *ngFor="let o of orders let i = index">
  <div class="row">
    <div class="col-2  text-center card-image-div">
      <img class="card-image" [src]="o.book.coverImageUrl" alt="">
    </div>
    <div class="col-lg-4 col-10">
      <div class="form-group">
        <b>{{'bookName' | translate}}</b>: {{o.book.title}}
      </div>
      <div class="form-group">
        <b>{{'author' | translate}}</b>: {{o.book.author}}
      </div>
      <div class="form-group">
        <b>{{'price' | translate}}</b>:
        <span *ngIf="language=='tr'">
          {{o.price.value | trCurrency}} {{o.price.currency}}
        </span>
        <span *ngIf="language=='en'">
          {{o.price.value | currency: '':'':'1.2-2' }} {{o.price.currency}}
        </span>
      </div>
    </div>
    <div class="col-lg-6 col-12">
      <h4 *ngIf="checkOrderIsRejected(o)">{{'Rejected' | translate}}</h4>
      <h4 *ngIf="checkOrderIsReturned(o)">{{'Returned' | translate}}</h4>
      <ul>
        <li>{{'awaitingApproval' | translate}}</li>
        <li>{{'beingPrepared' | translate}}</li>
        <li>{{'inTransit' | translate}}</li>
        <li>{{'delivered' | translate}}</li>
      </ul>
      <!-- TimeLine Start -->
      <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title">Order Status</h6>
                        <div id="content">
                            <ul *ngFor="let orderStatus of o.orderStatuses" class="timeline">
                                <li class="event">
                                  <p>{{}}</p>
                                    <h3>{{orderStatus.status}}</h3>
                                    <p>Get here on time, it's first come first serve. Be late, get turned away.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- TimeLine End -->
  </div>

</div>