<div class="card mt-3">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h5>{{ "homePage" | translate }}</h5>
    <div>
    </div>
  </div>
</div>

<!-- Loading -->
@if (isLoading) {
<div class="row mt-4">
  <div class="col-lg-3 col-md-4 col-sm-6 col-12">
    <div class="card">
      <div class="card-header">
        <h3>{{ "categories" | translate }}</h3>
      </div>
      <div class="card-body">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">
            <i class="fa-solid fa-magnifying-glass"></i>
          </span>
          <input [(ngModel)]="searchCategory" type="search" class="form-control"
            placeholder="{{ 'search' | translate }}" />
        </div>
        <ul class="categories placeholder-glow">
          @for (l of loaderDatas; track l) {
  <li class="category loader-category placeholder " disabled>
          </li>
}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-9 col-md-8 col-sm-6 col-12">
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">
        <i class="fa-solid fa-magnifying-glass"></i>
      </span>
      <input [(ngModel)]="request.search" (keydown.enter)="getAll()" (search)="getAll()" type="search"
        class="form-control" placeholder="{{ 'search' | translate }}" />
    </div>
    <div class="row">
      @for (l of loaderDatas; track l) {
  <div class="col-xl-4 col-md-6 col-12 mb-2">
        <div class="card text-center">
          <div class="card-body placeholder-glow">
            <div class="card-img-top mt-2 loading placeholder"></div>
          </div>
          <div class="card-header placeholder-glow">
            <h5 class="card-title"></h5>
            <p class="placeholder"></p>
          </div>
          <div class="card-body placeholder-glow">
            <p class="card-text placeholder"></p>
            <button iconControl disabled
              class="btn btn-outline-secondary d-flex placeholder justify-content-between w-100 align-items-center loading">
              <span></span>
              <i class="fa-solid fa-cart-shopping"></i>
            </button>
          </div>
        </div>
      </div>
}
    </div>
  </div>
</div>
}

@else {
<div class="row mt-4">
  <!-- Kategoriler -->
  <div class="col-lg-3 col-md-4 col-sm-6 col-12">
    <div class="card">
      <div class="card-header" id="categories">
        <h3>{{ "categories" | translate }}</h3>
      </div>
      <div class="card-body">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">
            <i class="fa-solid fa-magnifying-glass"></i>
          </span>
          <input [(ngModel)]="searchCategory" type="search" class="form-control"
            placeholder="{{ 'search' | translate }}" />
        </div>
        <ul class="categories">
          <li class="category" (click)="changeCategory(null)" [ngClass]="request.categoryId === null ? 'active' : ''">
            {{ "allCategories" | translate }}
          </li>
          @for (c of categories | categoryPipe : searchCategory; track c) {
  <li class="category" (click)="changeCategory(c.id)" [ngClass]="request.categoryId === c.id ? 'active' : ''"
           >
            {{ c.name | translate }}
          </li>
}
        </ul>
      </div>
    </div>
  </div>

  <!-- Kitaplar -->
  <div class="col-lg-9 col-md-8 col-sm-6 col-12 ">
    <div class="input-group mb-3" id="bookSearch">
      <span class="input-group-text" id="basic-addon1">
        <i class="fa-solid fa-magnifying-glass"></i>
      </span>
      <input [(ngModel)]="request.search" (keydown.enter)="getAll()" (search)="getAll()" type="search"
        class="form-control" placeholder="{{ 'search' | translate }}" />
    </div>
    <div class="row" style="position: relative;">
      @for (b of books;track b) {
  <div class="col-xl-4 col-md-6 col-12 mb-2" id="book{{$index}}" zoom>
        <div class="card text-center">
          <div class="card-body">
            <img [src]="b.coverImageUrl" class="card-img-top mt-2" />
          </div>
          <div class="card-header">
            <h5 class="card-title">{{ b.title }}</h5>
            <p>{{ b.author }}</p>
            <ul class="d-flex list-unstyled justify-content-center">
              @for (c of b.categories; track c) {
  <li>{{c}}</li>
}
            </ul>
            <div>
              <i  class="fa-star cursor font-size-lg"
                [ngClass]="b.raiting >= 1 ? 'fa-solid text-warning': 'fa-regular'">
              </i>
              <i  class="fa-star cursor font-size-lg"
                [ngClass]="(b.raiting >= 2) ? 'fa-solid text-warning': 'fa-regular'">
              </i>
              <i  class="fa-star cursor font-size-lg"
                [ngClass]="(b.raiting >= 3) ? 'fa-solid text-warning': 'fa-regular'">
              </i>
              <i  class="fa-star cursor font-size-lg"
                [ngClass]="(b.raiting >= 4) ? 'fa-solid text-warning': 'fa-regular'">
              </i>
              <i  class="fa-star cursor font-size-lg"
                [ngClass]="(b.raiting == 5) ? 'fa-solid text-warning': 'fa-regular'">
              </i>
            </div>
          </div>
          <div class="card-body detail">
            @if (b.quantity <=0) {
<button class="btn btn-danger text-center w-100" disabled type="button">
              <i class="fa-solid fa-hourglass me-1"></i>
              <span>{{'bookQuantityIsNotEnough' | translate}}</span>
            </button>
}
            @if (b.quantity >0) {
<button iconControl id="addShoppingCartBtn{{$index}}"
              class="btn btn-outline-secondary d-flex justify-content-between w-100 align-items-center"
              (click)="addShoppingCart(b)">
              <span>{{b.price.value | currency:'':'':'1.2-2'}} {{b.price.currency}}</span>
              <i class="fa-solid fa-cart-shopping"></i>
            </button>
}
          </div>

        </div>
      </div>
}
    </div>

    <div class="search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
      (scrolled)="feedData()"></div>
  </div>
</div>
}